# Parser_erroror

In [1]:
import pandas as pd

In [2]:
pd.read_csv(r"C:\Users\Harendra\Downloads\MLL.txt")

            <iris>
0         <flower>
1  <sl> 1.2  </sl>
2  <sw> 5.7  </sw>
3  <pl> 2.9  </pl>
4  <pw> 7.9  </pw>
5        </flower>
6          </iris>

In [9]:
pd.read_csv(r"C:\Users\Harendra\Downloads\MLL.txt",on_bad_lines="skip")
## it will skip the total line which is having extra column

    Name  Age
0   hari   23
1    anu   22
2  joshu   10

In [11]:
pd.read_csv(r"C:\Users\Harendra\Downloads\MLL.txt",on_bad_lines="warn")

C:\Users\Harendra\AppData\Local\Temp\ipykernel_2200\3909347324.py:1: ParserWarning: Skipping line 5: expected 2 fields, saw 3

  pd.read_csv(r"C:\Users\Harendra\Downloads\MLL.txt",on_bad_lines="warn")

    Name  Age
0   hari   23
1    anu   22
2  joshu   10

# Encoding_error

In [39]:
l  = ["uft-8","latin","uft_16"]

In [145]:
l1{}:
    for y in l:
        try:
            pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding =y,on_bad_lines="skip")
            print("{} is correct coding".format(y))
        except UnicodeDecodeError:
             print("{} is not correct coding".format(y))
        except LookupError:
            print("{} is not supported".format(y))
        l1.append(y)

SyntaxError: invalid syntax (2404730157.py, line 1)

In [23]:
import encodings

In [25]:
l = encodings.aliases.aliases.keys()
## it returns ## dict ## keys are acting as encodings

In [49]:
df = pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [96]:
data = pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin")
data.shape

(5572, 5)

In [128]:
file= pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin",chunksize=100)
file

In [116]:
c = 0
for chunk in file:
    print(chunk.head(2))
    print("*"*50)
    c+=1

    v1                                                 v2 Unnamed: 2  \
0  ham  Go until jurong point, crazy.. Available only ...        NaN
1  ham                      Ok lar... Joking wif u oni...        NaN

  Unnamed: 3  Unnamed: 4
0        NaN         NaN
1        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
100  ham  Okay name ur price as long as its legal! Wen c...         NaN
101  ham  I'm still looking for a car to buy. And have n...         NaN

     Unnamed: 3  Unnamed: 4
100         NaN         NaN
101         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
200  ham                       I sent you  &lt;#&gt;  bucks        NaN
201  ham  Hello darlin ive finished college now so txt m...        NaN

    Unnamed: 3 Unnamed: 4
200        NaN        NaN
201        NaN        NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
300  ham  Awesome, I remember the last time we got someb...         NaN
301  ham  Shit that is really shocking and scary, cant i...         NaN

     Unnamed: 3  Unnamed: 4
300         NaN         NaN
301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
400  spam  FREE RINGTONE text FIRST to 87131 for a poly o...        NaN
401   ham            Dear how is chechi. Did you talk to her        NaN

     Unnamed: 3  Unnamed: 4
400         NaN         NaN
401         NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
500  ham  Fighting with the world is easy, u either win ...         NaN
501  ham                              When can Ì_ come out?         NaN

     Unnamed: 3  Unnamed: 4
500         NaN         NaN
501         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
600  ham  Mind blastin.. No more Tsunamis will occur fro...        NaN
601  ham  If u sending her home first it's ok lor. I'm n...        NaN

     Unnamed: 3  Unnamed: 4
600         NaN         NaN
601         NaN         NaN
**************************************************
      v1                             v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
700  ham  How much r Ì_ willing to pay?        NaN         NaN         NaN
701  ham         Sorry, I'll call later        NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
800  spam  Last Chance! Claim ur å£150 worth of discount ...        NaN
801   ham  Appt is at &lt;TIME&gt; am. Not my fault u don...        NaN

    Unnamed: 3  Unnamed: 4
800        NaN         NaN
801        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
900  ham  Probably money worries. Things are coming due ...         NaN
901  ham        How is it possible to teach you. And where.         NaN

     Unnamed: 3  Unnamed: 4
900         NaN         NaN
901         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1000   ham                            No..but heard abt tat..        NaN
1001  spam  Please call our customer service representativ...        NaN

     Unnamed: 3 Unnamed: 4
1000        NaN        NaN
1001        NaN        NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1100  ham  You busy or can I come by at some point and fi...        NaN
1101  ham  Yeah go on then, bored and depressed sittin wa...        NaN

      Unnamed: 3  Unnamed: 4
1100         NaN         NaN
1101         NaN         NaN
**************************************************
       v1                                        v2 Unnamed: 2  Unnamed: 3  \
1200  ham  Otherwise had part time job na-tuition..        NaN         NaN
1201  ham                      I know she called me        NaN         NaN

      Unnamed: 4
1200         NaN
1201         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1300  ham  Those cocksuckers. If it makes you feel better...        NaN
1301  ham               I tot u reach liao. He said t-shirt.        NaN

      Unnamed: 3  Unnamed: 4
1300         NaN         NaN
1301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1400  ham  No, I decided that only people who care about ...        NaN
1401  ham  Kaiez... Enjoy ur tuition... Gee... Thk e seco...        NaN

      Unnamed: 3  Unnamed: 4
1400         NaN         NaN
1401         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1500   ham                 Host-based IDPS for linux systems.        NaN
1501  spam  HOT LIVE FANTASIES call now 08707509020 Just 2...        NaN

      Unnamed: 3  Unnamed: 4
1500         NaN         NaN
1501         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1600  ham                          K.then any other special?        NaN
1601  ham  Carlos is taking his sweet time as usual so le...        NaN

      Unnamed: 3  Unnamed: 4
1600         NaN         NaN
1601         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1700  ham                    Please ask mummy to call father         NaN
1701  ham  Can come my room but cannot come my house cos ...         NaN

      Unnamed: 3  Unnamed: 4
1700         NaN         NaN
1701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1800  ham  excellent. I spent  &lt;#&gt;  years in the Ai...         NaN
1801  ham                           I wanna watch that movie         NaN

      Unnamed: 3  Unnamed: 4
1800         NaN         NaN
1801         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1900  ham  And miss vday the parachute and double coins??...        NaN
1901  ham                             Sorry, I'll call later        NaN

      Unnamed: 3  Unnamed: 4
1900         NaN         NaN
1901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2000  ham  But i'll b going 2 sch on mon. My sis need 2 t...        NaN
2001  ham             Idea will soon get converted to live:)        NaN

      Unnamed: 3  Unnamed: 4
2000         NaN         NaN
2001         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2100  ham    Oh Howda gud gud.. Mathe en samachara chikku:-)        NaN
2101  ham  I thk 530 lor. But dunno can get tickets a not...        NaN

     Unnamed: 3  Unnamed: 4
2100        NaN         NaN
2101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2200  ham  Haha... can... But i'm having dinner with my c...        NaN
2201  ham  A boy was late 2 home. His father: \POWER OF F...        NaN

     Unnamed: 3 Unnamed: 4
2200        NaN        NaN
2201        NaN        NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2300  ham  Nothin comes to my mind. ÌÏ help me buy hanger...         NaN
2301  ham   &lt;#&gt; , that's all? Guess that's easy enough         NaN

      Unnamed: 3  Unnamed: 4
2300         NaN         NaN
2301         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2400   ham            Hi! This is Roger from CL. How are you?        NaN
2401  spam  Babe: U want me dont u baby! Im nasty and have...        NaN

      Unnamed: 3  Unnamed: 4
2400         NaN         NaN
2401         NaN         NaN
**************************************************
       v1                                    v2  Unnamed: 2  Unnamed: 3  \
2500  ham  Remember to ask alex about his pizza         NaN         NaN
2501  ham          No da..today also i forgot..         NaN         NaN

      Unnamed: 4
2500         NaN
2501         NaN
**************************************************
       v1                                              v2  Unnamed: 2  \
2600  ham  As usual..iam fine, happy &amp; doing well..:)         NaN
2601  ham                                            Okie         NaN

      Unnamed: 3  Unnamed: 4
2600         NaN         NaN
2601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2700  ham  Feb  &lt;#&gt;  is \I LOVE U\" day. Send dis t...        NaN
2701  ham  Hiya, sorry didn't hav signal. I haven't seen ...        NaN

      Unnamed: 3  Unnamed: 4
2700         NaN         NaN
2701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2800  ham                      Depends on where u going lor.         NaN
2801  ham  And smile for me right now as you go and the w...         NaN

      Unnamed: 3  Unnamed: 4
2800         NaN         NaN
2801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2900  spam  Ur cash-balance is currently 500 pounds - to m...        NaN
2901   ham  Bill, as in: Are there any letters for me. iÛ...        NaN

      Unnamed: 3  Unnamed: 4
2900         NaN         NaN
2901         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3000  spam  This message is free. Welcome to the new & imp...         NaN
3001   ham         Excellent, I'll see what riley's plans are         NaN

      Unnamed: 3  Unnamed: 4
3000         NaN         NaN
3001         NaN         NaN
**************************************************
       v1                                                v2 Unnamed: 2  \
3100  ham                      Pathaya enketa maraikara pa'        NaN
3101  ham  Even if he my friend he is a priest call him now        NaN

     Unnamed: 3  Unnamed: 4
3100        NaN         NaN
3101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3200  ham                       Nice.nice.how is it working?        NaN
3201  ham  Okay lor... Wah... like that def they wont let...        NaN

      Unnamed: 3  Unnamed: 4
3200         NaN         NaN
3201         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3300  spam           RCT' THNQ Adrian for U text. Rgds Vatian         NaN
3301   ham  Stop calling everyone saying I might have canc...         NaN

      Unnamed: 3  Unnamed: 4
3300         NaN         NaN
3301         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3400  ham                    Thanks honey. Have a great day.         NaN
3401  ham  'An Amazing Quote'' - \Sometimes in life its d...         NaN

      Unnamed: 3  Unnamed: 4
3400         NaN         NaN
3401         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3500  ham  says the  &lt;#&gt;  year old with a man and m...        NaN
3501  ham                         I will come to ur home now        NaN

     Unnamed: 3 Unnamed: 4
3500        NaN        NaN
3501        NaN        NaN
**************************************************
       v1                                              v2 Unnamed: 2  \
3600  ham                    Jay told me already, will do        NaN
3601  ham  Cps is causing the outages to conserve energy.        NaN

      Unnamed: 3  Unnamed: 4
3600         NaN         NaN
3601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3700  ham                              Shall i get my pouch?        NaN
3701  ham  Hey loverboy! I love you !! I had to tell ... ...        NaN

      Unnamed: 3  Unnamed: 4
3700         NaN         NaN
3701         NaN         NaN
**************************************************
       v1                                         v2 Unnamed: 2  Unnamed: 3  \
3800  ham    It's ok, at least armand's still around        NaN         NaN
3801  ham  No da. I am happy that we sit together na        NaN         NaN

      Unnamed: 4
3800         NaN
3801         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3900  ham  That depends. How would you like to be treated...         NaN
3901  ham                       Right on brah, see you later         NaN

      Unnamed: 3  Unnamed: 4
3900         NaN         NaN
3901         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4000  ham  He's just gonna worry for nothing. And he won'...         NaN
4001  ham  Did you get any gift? This year i didnt get an...         NaN

      Unnamed: 3  Unnamed: 4
4000         NaN         NaN
4001         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4100  spam  GSOH? Good with SPAM the ladies?U could b a ma...        NaN
4101   ham  Ok then i will come to ur home after half an hour        NaN

      Unnamed: 3  Unnamed: 4
4100         NaN         NaN
4101         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4200  ham  Wylie update: my weed dealer carlos went to fr...        NaN
4201  ham  Are you happy baby ? Are you alright ? Did you...        NaN

      Unnamed: 3  Unnamed: 4
4200         NaN         NaN
4201         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4300  ham  Are there TA jobs available? Let me know pleas...         NaN
4301  ham  Aiyar hard 2 type. U later free then tell me t...         NaN

      Unnamed: 3  Unnamed: 4
4300         NaN         NaN
4301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4400  ham      Many times we lose our best ones bcoz we are         NaN
4401  ham  Good FRIENDS CaRE for each Other.. CLoSE Frien...        NaN

      Unnamed: 3  Unnamed: 4
4400         NaN         NaN
4401         NaN         NaN
**************************************************
       v1                         v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
4500  ham      So wat's da decision?        NaN         NaN         NaN
4501  ham  Wot is u up 2 then bitch?        NaN         NaN         NaN
**************************************************
        v1                                                 v2  \
4600  spam  FreeMsg: Txt: CALL to No: 86888 & claim your r...
4601   ham                     \Hey j! r u feeling any better

                                             Unnamed: 2 Unnamed: 3 Unnamed: 4
4600                                                NaN        NaN        NaN
4601   hopeSo hunny. i amnow feelin ill & ithink i m...        NaN        NaN
**************************************************
       v1                      v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
4700  ham  I liked the new mobile         NaN         NaN         NaN
4701  ham              Anytime...         NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4800  ham  The guy at the car shop who was flirting with ...        NaN
4801  ham      Reverse is cheating. That is not mathematics.        NaN

      Unnamed: 3  Unnamed: 4
4800         NaN         NaN
4801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4900   ham       Taka lor. Wat time u wan 2 come n look 4 us?        NaN
4901  spam  * FREE* POLYPHONIC RINGTONE Text SUPER to 8713...        NaN

      Unnamed: 3  Unnamed: 4
4900         NaN         NaN
4901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
5000  ham  Nope. Since ayo travelled, he has forgotten hi...        NaN
5001  ham         You still around? Looking to pick up later        NaN

     Unnamed: 3 Unnamed: 4
5000        NaN        NaN
5001        NaN        NaN
**************************************************
       v1                                         v2  Unnamed: 2  Unnamed: 3  \
5100  ham           Aight, call me once you're close         NaN         NaN
5101  ham  Nope thats fine. I might have a nap tho!          NaN         NaN

      Unnamed: 4
5100         NaN
5101         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
5200  spam  Call Germany for only 1 pence per minute! Call...        NaN
5201  spam  YOU VE WON! Your 4* Costa Del Sol Holiday or å...        NaN

      Unnamed: 3  Unnamed: 4
5200         NaN         NaN
5201         NaN         NaN
**************************************************
       v1                                   v2  Unnamed: 2  Unnamed: 3  \
5300  ham              I can't make it tonight         NaN         NaN
5301  ham  At WHAT TIME should i come tomorrow         NaN         NaN

      Unnamed: 4
5300         NaN
5301         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
5400  ham  HARD BUT TRUE: How much you show &amp;  expres...         NaN
5401  ham  Babes I think I got ur brolly I left it in Eng...         NaN

      Unnamed: 3  Unnamed: 4
5400         NaN         NaN
5401         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
5500   ham  Love has one law; Make happy the person you lo...         NaN
5501  spam  PRIVATE! Your 2003 Account Statement for 07808...         NaN

      Unnamed: 3  Unnamed: 4
5500         NaN         NaN
5501         NaN         NaN
**************************************************

In [120]:
for chunk in file:
    print(chunk.shap)

In [139]:
file= pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin",chunksize=100)
c = 0
c = 0
for chunk in file:
    print(chunk.head(2))
    print("*"*50)
    c+=1

    v1                                                 v2 Unnamed: 2  \
0  ham  Go until jurong point, crazy.. Available only ...        NaN
1  ham                      Ok lar... Joking wif u oni...        NaN

  Unnamed: 3  Unnamed: 4
0        NaN         NaN
1        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
100  ham  Okay name ur price as long as its legal! Wen c...         NaN
101  ham  I'm still looking for a car to buy. And have n...         NaN

     Unnamed: 3  Unnamed: 4
100         NaN         NaN
101         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
200  ham                       I sent you  &lt;#&gt;  bucks        NaN
201  ham  Hello darlin ive finished college now so txt m...        NaN

    Unnamed: 3 Unnamed: 4
200        NaN        NaN
201        NaN        NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
300  ham  Awesome, I remember the last time we got someb...         NaN
301  ham  Shit that is really shocking and scary, cant i...         NaN

     Unnamed: 3  Unnamed: 4
300         NaN         NaN
301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
400  spam  FREE RINGTONE text FIRST to 87131 for a poly o...        NaN
401   ham            Dear how is chechi. Did you talk to her        NaN

     Unnamed: 3  Unnamed: 4
400         NaN         NaN
401         NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
500  ham  Fighting with the world is easy, u either win ...         NaN
501  ham                              When can Ì_ come out?         NaN

     Unnamed: 3  Unnamed: 4
500         NaN         NaN
501         NaN         NaN
**************************************************
      v1                                                 v2 Unnamed: 2  \
600  ham  Mind blastin.. No more Tsunamis will occur fro...        NaN
601  ham  If u sending her home first it's ok lor. I'm n...        NaN

     Unnamed: 3  Unnamed: 4
600         NaN         NaN
601         NaN         NaN
**************************************************
      v1                             v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
700  ham  How much r Ì_ willing to pay?        NaN         NaN         NaN
701  ham         Sorry, I'll call later        NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
800  spam  Last Chance! Claim ur å£150 worth of discount ...        NaN
801   ham  Appt is at &lt;TIME&gt; am. Not my fault u don...        NaN

    Unnamed: 3  Unnamed: 4
800        NaN         NaN
801        NaN         NaN
**************************************************
      v1                                                 v2  Unnamed: 2  \
900  ham  Probably money worries. Things are coming due ...         NaN
901  ham        How is it possible to teach you. And where.         NaN

     Unnamed: 3  Unnamed: 4
900         NaN         NaN
901         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1000   ham                            No..but heard abt tat..        NaN
1001  spam  Please call our customer service representativ...        NaN

     Unnamed: 3 Unnamed: 4
1000        NaN        NaN
1001        NaN        NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1100  ham  You busy or can I come by at some point and fi...        NaN
1101  ham  Yeah go on then, bored and depressed sittin wa...        NaN

      Unnamed: 3  Unnamed: 4
1100         NaN         NaN
1101         NaN         NaN
**************************************************
       v1                                        v2 Unnamed: 2  Unnamed: 3  \
1200  ham  Otherwise had part time job na-tuition..        NaN         NaN
1201  ham                      I know she called me        NaN         NaN

      Unnamed: 4
1200         NaN
1201         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1300  ham  Those cocksuckers. If it makes you feel better...        NaN
1301  ham               I tot u reach liao. He said t-shirt.        NaN

      Unnamed: 3  Unnamed: 4
1300         NaN         NaN
1301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1400  ham  No, I decided that only people who care about ...        NaN
1401  ham  Kaiez... Enjoy ur tuition... Gee... Thk e seco...        NaN

      Unnamed: 3  Unnamed: 4
1400         NaN         NaN
1401         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
1500   ham                 Host-based IDPS for linux systems.        NaN
1501  spam  HOT LIVE FANTASIES call now 08707509020 Just 2...        NaN

      Unnamed: 3  Unnamed: 4
1500         NaN         NaN
1501         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1600  ham                          K.then any other special?        NaN
1601  ham  Carlos is taking his sweet time as usual so le...        NaN

      Unnamed: 3  Unnamed: 4
1600         NaN         NaN
1601         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1700  ham                    Please ask mummy to call father         NaN
1701  ham  Can come my room but cannot come my house cos ...         NaN

      Unnamed: 3  Unnamed: 4
1700         NaN         NaN
1701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
1800  ham  excellent. I spent  &lt;#&gt;  years in the Ai...         NaN
1801  ham                           I wanna watch that movie         NaN

      Unnamed: 3  Unnamed: 4
1800         NaN         NaN
1801         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
1900  ham  And miss vday the parachute and double coins??...        NaN
1901  ham                             Sorry, I'll call later        NaN

      Unnamed: 3  Unnamed: 4
1900         NaN         NaN
1901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2000  ham  But i'll b going 2 sch on mon. My sis need 2 t...        NaN
2001  ham             Idea will soon get converted to live:)        NaN

      Unnamed: 3  Unnamed: 4
2000         NaN         NaN
2001         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2100  ham    Oh Howda gud gud.. Mathe en samachara chikku:-)        NaN
2101  ham  I thk 530 lor. But dunno can get tickets a not...        NaN

     Unnamed: 3  Unnamed: 4
2100        NaN         NaN
2101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2200  ham  Haha... can... But i'm having dinner with my c...        NaN
2201  ham  A boy was late 2 home. His father: \POWER OF F...        NaN

     Unnamed: 3 Unnamed: 4
2200        NaN        NaN
2201        NaN        NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2300  ham  Nothin comes to my mind. ÌÏ help me buy hanger...         NaN
2301  ham   &lt;#&gt; , that's all? Guess that's easy enough         NaN

      Unnamed: 3  Unnamed: 4
2300         NaN         NaN
2301         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2400   ham            Hi! This is Roger from CL. How are you?        NaN
2401  spam  Babe: U want me dont u baby! Im nasty and have...        NaN

      Unnamed: 3  Unnamed: 4
2400         NaN         NaN
2401         NaN         NaN
**************************************************
       v1                                    v2  Unnamed: 2  Unnamed: 3  \
2500  ham  Remember to ask alex about his pizza         NaN         NaN
2501  ham          No da..today also i forgot..         NaN         NaN

      Unnamed: 4
2500         NaN
2501         NaN
**************************************************
       v1                                              v2  Unnamed: 2  \
2600  ham  As usual..iam fine, happy &amp; doing well..:)         NaN
2601  ham                                            Okie         NaN

      Unnamed: 3  Unnamed: 4
2600         NaN         NaN
2601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
2700  ham  Feb  &lt;#&gt;  is \I LOVE U\" day. Send dis t...        NaN
2701  ham  Hiya, sorry didn't hav signal. I haven't seen ...        NaN

      Unnamed: 3  Unnamed: 4
2700         NaN         NaN
2701         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
2800  ham                      Depends on where u going lor.         NaN
2801  ham  And smile for me right now as you go and the w...         NaN

      Unnamed: 3  Unnamed: 4
2800         NaN         NaN
2801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
2900  spam  Ur cash-balance is currently 500 pounds - to m...        NaN
2901   ham  Bill, as in: Are there any letters for me. iÛ...        NaN

      Unnamed: 3  Unnamed: 4
2900         NaN         NaN
2901         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3000  spam  This message is free. Welcome to the new & imp...         NaN
3001   ham         Excellent, I'll see what riley's plans are         NaN

      Unnamed: 3  Unnamed: 4
3000         NaN         NaN
3001         NaN         NaN
**************************************************
       v1                                                v2 Unnamed: 2  \
3100  ham                      Pathaya enketa maraikara pa'        NaN
3101  ham  Even if he my friend he is a priest call him now        NaN

     Unnamed: 3  Unnamed: 4
3100        NaN         NaN
3101        NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3200  ham                       Nice.nice.how is it working?        NaN
3201  ham  Okay lor... Wah... like that def they wont let...        NaN

      Unnamed: 3  Unnamed: 4
3200         NaN         NaN
3201         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
3300  spam           RCT' THNQ Adrian for U text. Rgds Vatian         NaN
3301   ham  Stop calling everyone saying I might have canc...         NaN

      Unnamed: 3  Unnamed: 4
3300         NaN         NaN
3301         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3400  ham                    Thanks honey. Have a great day.         NaN
3401  ham  'An Amazing Quote'' - \Sometimes in life its d...         NaN

      Unnamed: 3  Unnamed: 4
3400         NaN         NaN
3401         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3500  ham  says the  &lt;#&gt;  year old with a man and m...        NaN
3501  ham                         I will come to ur home now        NaN

     Unnamed: 3 Unnamed: 4
3500        NaN        NaN
3501        NaN        NaN
**************************************************
       v1                                              v2 Unnamed: 2  \
3600  ham                    Jay told me already, will do        NaN
3601  ham  Cps is causing the outages to conserve energy.        NaN

      Unnamed: 3  Unnamed: 4
3600         NaN         NaN
3601         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
3700  ham                              Shall i get my pouch?        NaN
3701  ham  Hey loverboy! I love you !! I had to tell ... ...        NaN

      Unnamed: 3  Unnamed: 4
3700         NaN         NaN
3701         NaN         NaN
**************************************************
       v1                                         v2 Unnamed: 2  Unnamed: 3  \
3800  ham    It's ok, at least armand's still around        NaN         NaN
3801  ham  No da. I am happy that we sit together na        NaN         NaN

      Unnamed: 4
3800         NaN
3801         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
3900  ham  That depends. How would you like to be treated...         NaN
3901  ham                       Right on brah, see you later         NaN

      Unnamed: 3  Unnamed: 4
3900         NaN         NaN
3901         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4000  ham  He's just gonna worry for nothing. And he won'...         NaN
4001  ham  Did you get any gift? This year i didnt get an...         NaN

      Unnamed: 3  Unnamed: 4
4000         NaN         NaN
4001         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4100  spam  GSOH? Good with SPAM the ladies?U could b a ma...        NaN
4101   ham  Ok then i will come to ur home after half an hour        NaN

      Unnamed: 3  Unnamed: 4
4100         NaN         NaN
4101         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4200  ham  Wylie update: my weed dealer carlos went to fr...        NaN
4201  ham  Are you happy baby ? Are you alright ? Did you...        NaN

      Unnamed: 3  Unnamed: 4
4200         NaN         NaN
4201         NaN         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
4300  ham  Are there TA jobs available? Let me know pleas...         NaN
4301  ham  Aiyar hard 2 type. U later free then tell me t...         NaN

      Unnamed: 3  Unnamed: 4
4300         NaN         NaN
4301         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4400  ham      Many times we lose our best ones bcoz we are         NaN
4401  ham  Good FRIENDS CaRE for each Other.. CLoSE Frien...        NaN

      Unnamed: 3  Unnamed: 4
4400         NaN         NaN
4401         NaN         NaN
**************************************************
       v1                         v2 Unnamed: 2  Unnamed: 3  Unnamed: 4
4500  ham      So wat's da decision?        NaN         NaN         NaN
4501  ham  Wot is u up 2 then bitch?        NaN         NaN         NaN
**************************************************
        v1                                                 v2  \
4600  spam  FreeMsg: Txt: CALL to No: 86888 & claim your r...
4601   ham                     \Hey j! r u feeling any better

                                             Unnamed: 2 Unnamed: 3 Unnamed: 4
4600                                                NaN        NaN        NaN
4601   hopeSo hunny. i amnow feelin ill & ithink i m...        NaN        NaN
**************************************************
       v1                      v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
4700  ham  I liked the new mobile         NaN         NaN         NaN
4701  ham              Anytime...         NaN         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
4800  ham  The guy at the car shop who was flirting with ...        NaN
4801  ham      Reverse is cheating. That is not mathematics.        NaN

      Unnamed: 3  Unnamed: 4
4800         NaN         NaN
4801         NaN         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
4900   ham       Taka lor. Wat time u wan 2 come n look 4 us?        NaN
4901  spam  * FREE* POLYPHONIC RINGTONE Text SUPER to 8713...        NaN

      Unnamed: 3  Unnamed: 4
4900         NaN         NaN
4901         NaN         NaN
**************************************************
       v1                                                 v2 Unnamed: 2  \
5000  ham  Nope. Since ayo travelled, he has forgotten hi...        NaN
5001  ham         You still around? Looking to pick up later        NaN

     Unnamed: 3 Unnamed: 4
5000        NaN        NaN
5001        NaN        NaN
**************************************************
       v1                                         v2  Unnamed: 2  Unnamed: 3  \
5100  ham           Aight, call me once you're close         NaN         NaN
5101  ham  Nope thats fine. I might have a nap tho!          NaN         NaN

      Unnamed: 4
5100         NaN
5101         NaN
**************************************************
        v1                                                 v2 Unnamed: 2  \
5200  spam  Call Germany for only 1 pence per minute! Call...        NaN
5201  spam  YOU VE WON! Your 4* Costa Del Sol Holiday or å...        NaN

      Unnamed: 3  Unnamed: 4
5200         NaN         NaN
5201         NaN         NaN
**************************************************
       v1                                   v2  Unnamed: 2  Unnamed: 3  \
5300  ham              I can't make it tonight         NaN         NaN
5301  ham  At WHAT TIME should i come tomorrow         NaN         NaN

      Unnamed: 4
5300         NaN
5301         NaN
**************************************************
       v1                                                 v2  Unnamed: 2  \
5400  ham  HARD BUT TRUE: How much you show &amp;  expres...         NaN
5401  ham  Babes I think I got ur brolly I left it in Eng...         NaN

      Unnamed: 3  Unnamed: 4
5400         NaN         NaN
5401         NaN         NaN
**************************************************
        v1                                                 v2  Unnamed: 2  \
5500   ham  Love has one law; Make happy the person you lo...         NaN
5501  spam  PRIVATE! Your 2003 Account Statement for 07808...         NaN

      Unnamed: 3  Unnamed: 4
5500         NaN         NaN
5501         NaN         NaN
**************************************************

In [136]:
c

56

# 4) takes time

In [156]:
import time

In [158]:
x = time.time() # sec
data1 =pd.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin")
y = time.time()

In [160]:
y-x

0.024490833282470703

In [170]:
pip install polars

Defaulting to user installation because normal site-packages is not writeable
Collecting polars
  Downloading polars-1.14.0-cp39-abi3-win_amd64.whl.metadata (15 kB)
Downloading polars-1.14.0-cp39-abi3-win_amd64.whl (35.3 MB)
   ---------------------------------------- 0.0/35.3 MB ? eta -:--:--
   ---------------------------------------- 0.3/35.3 MB ? eta -:--:--
    --------------------------------------- 0.8/35.3 MB 2.0 MB/s eta 0:00:18
   - -------------------------------------- 1.0/35.3 MB 2.0 MB/s eta 0:00:17
   - -------------------------------------- 1.6/35.3 MB 2.1 MB/s eta 0:00:17
   -- ------------------------------------- 2.1/35.3 MB 2.1 MB/s eta 0:00:17
   -- ------------------------------------- 2.6/35.3 MB 2.1 MB/s eta 0:00:16
   --- ------------------------------------ 3.1/35.3 MB 2.2 MB/s eta 0:00:15
   ---- ----------------------------------- 3.7/35.3 MB 2.3 MB/s eta 0:00:14
   ---- ----------------------------------- 3.9/35.3 MB 2.2 MB/s eta 0:00:15
   ---- ----------------------------------- 4.2/35.3 MB 2.1 MB/s eta 0:00:15
   ----- ---------------------------------- 4.5/35.3 MB 1.9 MB/s eta 0:00:17
   ----- ---------------------------------- 5.0/35.3 MB 2.0 MB/s eta 0:00:16
   ----- ---------------------------------- 5.2/35.3 MB 2.0 MB/s eta 0:00:15
   ------ --------------------------------- 5.5/35.3 MB 2.0 MB/s eta 0:00:16
   ------- -------------------------------- 6.3/35.3 MB 2.0 MB/s eta 0:00:15
   ------- -------------------------------- 6.8/35.3 MB 2.0 MB/s eta 0:00:14
   ------- -------------------------------- 6.8/35.3 MB 2.0 MB/s eta 0:00:14
   -------- ------------------------------- 7.1/35.3 MB 1.9 MB/s eta 0:00:15
   -------- ------------------------------- 7.3/35.3 MB 1.8 MB/s eta 0:00:16
   -------- ------------------------------- 7.3/35.3 MB 1.8 MB/s eta 0:00:16
   -------- ------------------------------- 7.6/35.3 MB 1.8 MB/s eta 0:00:16
   --------- ------------------------------ 8.1/35.3 MB 1.7 MB/s eta 0:00:16
   --------- ------------------------------ 8.1/35.3 MB 1.7 MB/s eta 0:00:16
   --------- ------------------------------ 8.4/35.3 MB 1.7 MB/s eta 0:00:16
   ---------- ----------------------------- 8.9/35.3 MB 1.7 MB/s eta 0:00:16
   ---------- ----------------------------- 9.4/35.3 MB 1.7 MB/s eta 0:00:15
   ----------- ---------------------------- 10.0/35.3 MB 1.7 MB/s eta 0:00:15
   ----------- ---------------------------- 10.5/35.3 MB 1.8 MB/s eta 0:00:14
   ------------ --------------------------- 10.7/35.3 MB 1.8 MB/s eta 0:00:14
   ------------ --------------------------- 11.0/35.3 MB 1.8 MB/s eta 0:00:14
   ------------ --------------------------- 11.3/35.3 MB 1.7 MB/s eta 0:00:14
   ------------- -------------------------- 11.5/35.3 MB 1.7 MB/s eta 0:00:14
   ------------- -------------------------- 11.8/35.3 MB 1.7 MB/s eta 0:00:14
   ------------- -------------------------- 12.3/35.3 MB 1.7 MB/s eta 0:00:14
   ------------- -------------------------- 12.3/35.3 MB 1.7 MB/s eta 0:00:14
   -------------- ------------------------- 12.6/35.3 MB 1.7 MB/s eta 0:00:14
   -------------- ------------------------- 12.8/35.3 MB 1.7 MB/s eta 0:00:14
   --------------- ------------------------ 13.4/35.3 MB 1.7 MB/s eta 0:00:14
   --------------- ------------------------ 13.4/35.3 MB 1.7 MB/s eta 0:00:14
   --------------- ------------------------ 13.6/35.3 MB 1.6 MB/s eta 0:00:14
   ---------------- ----------------------- 14.2/35.3 MB 1.6 MB/s eta 0:00:13
   ---------------- ----------------------- 14.7/35.3 MB 1.7 MB/s eta 0:00:13
   ---------------- ----------------------- 14.9/35.3 MB 1.7 MB/s eta 0:00:13
   ----------------- ---------------------- 15.2/35.3 MB 1.6 MB/s eta 0:00:13
   ----------------- ---------------------- 15.2/35.3 MB 1.6 MB/s eta 0:00:13
   ----------------- ---------------------- 15.2/35.3 MB 1.6 MB/s eta 0:00:13
   ----------------- ---------------------- 15.2/35.3 MB 1.6 MB/s eta 0:00:13
   ----------------- ---------------------- 15.5/35.3 MB 1.5 MB/s eta 0:00:13
   ----------------- ---------------------- 15.5/35.3 MB 1.5 MB/s eta 0:00:13
   ----------------- ---------------------- 15.5/35.3 MB 1.5 MB/s eta 0:00:13
   ----------------- ---------------------- 15.5/35.3 MB 1.5 MB/s eta 0:00:13
   ----------------- ---------------------- 15.5/35.3 MB 1.5 MB/s eta 0:00:13
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ----------------- ---------------------- 15.7/35.3 MB 1.4 MB/s eta 0:00:14
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.0/35.3 MB 1.2 MB/s eta 0:00:17
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.3/35.3 MB 1.1 MB/s eta 0:00:18
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------ --------------------- 16.5/35.3 MB 966.7 kB/s eta 0:00:20
   ------------------- -------------------- 16.8/35.3 MB 889.7 kB/s eta 0:00:21
   ------------------- -------------------- 16.8/35.3 MB 889.7 kB/s eta 0:00:21
   ------------------- -------------------- 16.8/35.3 MB 889.7 kB/s eta 0:00:21
   ------------------- -------------------- 16.8/35.3 MB 889.7 kB/s eta 0:00:21
   ------------------- -------------------- 17.0/35.3 MB 861.1 kB/s eta 0:00:22
   ------------------- -------------------- 17.3/35.3 MB 863.5 kB/s eta 0:00:21
   ------------------- -------------------- 17.3/35.3 MB 863.5 kB/s eta 0:00:21
   ------------------- -------------------- 17.6/35.3 MB 863.7 kB/s eta 0:00:21
   -------------------- ------------------- 17.8/35.3 MB 864.0 kB/s eta 0:00:21
   -------------------- ------------------- 18.1/35.3 MB 866.9 kB/s eta 0:00:20
   -------------------- ------------------- 18.4/35.3 MB 871.7 kB/s eta 0:00:20
   --------------------- ------------------ 18.9/35.3 MB 887.6 kB/s eta 0:00:19
   ---------------------- ----------------- 19.7/35.3 MB 914.9 kB/s eta 0:00:18
   ---------------------- ----------------- 20.2/35.3 MB 931.4 kB/s eta 0:00:17
   ----------------------- ---------------- 20.4/35.3 MB 936.8 kB/s eta 0:00:16
   ----------------------- ---------------- 21.0/35.3 MB 950.8 kB/s eta 0:00:16
   ------------------------ --------------- 21.8/35.3 MB 973.6 kB/s eta 0:00:14
   ------------------------- -------------- 22.3/35.3 MB 988.3 kB/s eta 0:00:14
   ------------------------- -------------- 22.5/35.3 MB 993.8 kB/s eta 0:00:13
   ------------------------- -------------- 22.8/35.3 MB 1.0 MB/s eta 0:00:13
   -------------------------- ------------- 23.3/35.3 MB 1.0 MB/s eta 0:00:12
   --------------------------- ------------ 23.9/35.3 MB 1.0 MB/s eta 0:00:12
   --------------------------- ------------ 24.1/35.3 MB 1.0 MB/s eta 0:00:11
   --------------------------- ------------ 24.6/35.3 MB 1.0 MB/s eta 0:00:11
   ---------------------------- ----------- 25.2/35.3 MB 1.1 MB/s eta 0:00:10
   ----------------------------- ---------- 26.0/35.3 MB 1.1 MB/s eta 0:00:09
   ------------------------------ --------- 26.7/35.3 MB 1.1 MB/s eta 0:00:08
   ------------------------------- -------- 27.5/35.3 MB 1.1 MB/s eta 0:00:07
   ------------------------------- -------- 28.0/35.3 MB 1.1 MB/s eta 0:00:07
   -------------------------------- ------- 28.6/35.3 MB 1.1 MB/s eta 0:00:06
   -------------------------------- ------- 29.1/35.3 MB 1.2 MB/s eta 0:00:06
   --------------------------------- ------ 29.4/35.3 MB 1.2 MB/s eta 0:00:06
   --------------------------------- ------ 29.9/35.3 MB 1.2 MB/s eta 0:00:05
   ---------------------------------- ----- 30.4/35.3 MB 1.2 MB/s eta 0:00:05
   ----------------------------------- ---- 30.9/35.3 MB 1.2 MB/s eta 0:00:04
   ----------------------------------- ---- 31.5/35.3 MB 1.2 MB/s eta 0:00:04
   ------------------------------------ --- 32.0/35.3 MB 1.2 MB/s eta 0:00:03
   ------------------------------------ --- 32.5/35.3 MB 1.2 MB/s eta 0:00:03
   ------------------------------------- -- 33.0/35.3 MB 1.2 MB/s eta 0:00:02
   -------------------------------------- - 33.6/35.3 MB 1.2 MB/s eta 0:00:02
   -------------------------------------- - 34.1/35.3 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 34.3/35.3 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  34.9/35.3 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  34.9/35.3 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  35.1/35.3 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 35.3/35.3 MB 1.2 MB/s eta 0:00:00
Installing collected packages: polars
Successfully installed polars-1.14.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [172]:
import polars

In [174]:
x = time.time() # sec
data2 =polars.read_csv(r"C:\Users\Harendra\Downloads\spam.csv",encoding="latin")
y = time.time()

In [176]:
y-x

0.5078034400939941

## Excel

In [14]:
import pandas as pd

In [24]:
pd.read_excel(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx",sheet_name= 1)

  Name  Age
0   p1   15
1   p2   19
2   p3   22
3   p4   12

In [26]:
pd.read_excel(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx",sheet_name= 0)

   Maths  Hindi
0     12     20
1     13     21
2     14     22
3     15     23

In [28]:
pd.read_excel(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx",sheet_name= 2)

   English  Social
0       31      41
1       32      42
2       33      43
3       43      44

In [32]:
df = pd.read_excel(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx",sheet_name= [1,0,2])
df

{1:   Name  Age
 0   p1   15
 1   p2   19
 2   p3   22
 3   p4   12,
 0:    Maths  Hindi
 0     12     20
 1     13     21
 2     14     22
 3     15     23,
 2:    English  Social
 0       31      41
 1       32      42
 2       33      43
 3       43      44}

In [38]:
df[1]

  Name  Age
0   p1   15
1   p2   19
2   p3   22
3   p4   12

In [54]:
df[1].to_excel(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx")  ## to_excel at

In [56]:
## we want to save multiple data frame into multiple sheet

In [58]:
f =  pd.ExcelWriter(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx")
f.close()

In [64]:
## very import

In [70]:
with pd.ExcelWriter(r"C:\Users\Harendra\OneDrive - K L University\Microsoft Copilot Chat Files\Excel.file.xlsx") as f:
    df[1].to_excel(f,sheet_name="Sheet2")
    df[0].to_excel(f,sheet_name="Sheet1")
    df[2].to_excel(f,sheet_name="Sheet3")

## JSON-(Java Script Object Notation)

In [75]:
x = '{"Name":["p1","p2"],"Age":[23,24]}'

In [77]:
pd.read_json(x)
## can only convert x structured json format into df

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\2533619728.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x)

  Name  Age
0   p1   23
1   p2   24

In [79]:
simple form of Json is

    where key -- acting as column names

SyntaxError: invalid syntax (3591449428.py, line 1)

In [87]:
data = pd.read_json(x)

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\695020713.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_json(x)

In [111]:
data

  Name  Age
0   p1   23
1   p2   24

In [91]:
x2 = data.to_json(orient="index")

In [93]:
x2

'{"0":{"Name":"p1","Age":23},"1":{"Name":"p2","Age":24}}'

In [95]:
pd.read_json(x2,orient="index")

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\1222398037.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x2,orient="index")

  Name  Age
0   p1   23
1   p2   24

In [121]:
x3 =data.to_json(orient="columns")

In [123]:
pd.read_json(x3,orient="columns")

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\2742886167.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3,orient="columns")

  Name  Age
0   p1   23
1   p2   24

In [125]:
pd.read_json(x3,orient="index")

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\501614266.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x3,orient="index")

       0   1
Name  p1  p2
Age   23  24

In [127]:
x4 = data.to_json(orient="values")

In [129]:
x4

'[["p1",23],["p2",24]]'

In [131]:
pd.read_json(x4,orient="values")

C:\Users\Harendra\AppData\Local\Temp\ipykernel_17888\2664431613.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(x4,orient="values")

    0   1
0  p1  23
1  p2  24

In [133]:
x5 = data.to_json(orient="split")

In [135]:
x5

'{"columns":["Name","Age"],"index":[0,1],"data":[["p1",23],["p2",24]]}'

## Semi-Structured json

In [139]:
x = {"Name":"p1","Marks":{"Maths":20,"Hindi":18}}

In [145]:
pd.json_normalize(x)

  Name  Marks.Maths  Marks.Hindi
0   p1           20           18

In [147]:
pd.json_normalize(x,max_level=0)

  Name                       Marks
0   p1  {'Maths': 20, 'Hindi': 18}

In [149]:
x.keys()

dict_keys(['Name', 'Marks'])

In [151]:
x.values()

dict_values(['p1', {'Maths': 20, 'Hindi': 18}])

In [153]:
x["Marks"].keys()

dict_keys(['Maths', 'Hindi'])

In [155]:
x = {"Name":"p1","Marks":{"Sem1":{"Maths":20,"Hindi":18},"Sem2":{"Maths":23,"Hindi":0}}}

In [157]:
pd.json_normalize(x)

  Name  Marks.Sem1.Maths  Marks.Sem1.Hindi  Marks.Sem2.Maths  Marks.Sem2.Hindi
0   p1                20                18                23                 0

In [169]:
pd.json_normalize(x,max_level=1)

  Name                  Marks.Sem1                 Marks.Sem2
0   p1  {'Maths': 20, 'Hindi': 18}  {'Maths': 23, 'Hindi': 0}

In [171]:
x.keys()

dict_keys(['Name', 'Marks'])

In [173]:
x["Marks"].keys()

dict_keys(['Sem1', 'Sem2'])

In [183]:
x = {"Name":"p1","Marks":[{"Sem1":20,"Sem2":30}],"Age":39}
## most occuring format of semi structured data

In [185]:
## record path is only used when the values are in list of dict
pd.json_normalize(x,record_path=["Marks"],meta=["Name","Age"])

   Sem1  Sem2 Name Age
0    20    30   p1  39

In [191]:
x = {"Name":{"p1":12},"Marks":[{"Sem1":20,"Sem2":30}],"Age":{"a":{"b":1}}}

In [197]:
pd.json_normalize(x,record_path=["Marks"],meta=[["Age","a","b"]])

   Sem1  Sem2 Age.a.b
0    20    30       1